@model MonPCapplication.Models.Mes_Produits.PartialProductViewModel

<h2 align="center" class="mt-4">Rechercher les produits</h2>


<form action='@Url.Action("Index","Search")' method="get" class="col-12" align="center">
    <input type="text" name="myProd" class="col-8 w-50 p-1 m-2 mt-3 rounded-3" />
    <input type="submit" value="Rechercher" class="col-3 w-25 btn btn-outline-success" />
</form>

<div>
    <div class="row m-4 d-block mx-auto">
        @foreach (var elem in Model.ListProduct)
        {
            <div class="col-12 m-3 border border-1" >
                <div class="row bg-light p-3">
                    <div class="col-6">
                        <img src="~/Images/@elem.image" alt="Denim Jeans" style=" height: 250px; object-fit: contain; ">
                    </div>
                    <div class="col-6">
                        <h3><b>@elem.nomProduit</b></h3>
                        <p style=" font-size: 18px;">@elem.Description</p>
                        <p style=" color: darkblue; font-size: 18px;"><b>@elem.prix </b>Dh</p>
                        <p><button onclick="location.href = '@Url.Action("FaireLaCommande","Panier")?id=@elem.id'" class="btn-primary .bg-secondary.bg-gradient p-2 bg-info rounded-3 w-25"> Add to Cart</button></p>
                        <a href="@Url.Action("Index","Produit")?id=@elem.id" class="col-2">Plus de détails</a>
                    </div>

                </div>
            </div>

        }


    </div>
</div>
